/* Master styles */
body {
    background-color: #fef0d5;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin: 0px;
    text-align: center;
}


/* Header styles */
header {
    background-color: #ffe8b9;
}

header h1 {
    /* margin: 0 0 0 30px; */
    margin: 0;
    padding: 10px 0;
}

header nav, header nav ul {
    /* background-color: aqua; */
    margin: 0;
    padding: 0;   
}

header nav {
    background-color: #fcce72;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    /* padding-left: 30px;
    padding-bottom: 10px; */
    padding: 10px 0 10px 30px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

header nav ul li {
    /* background-color: aliceblue; */
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    
}

header nav ul li a {
    /* background-color: red; */
    color: black;
    margin-right: 20px;
    padding: 10px 10px 0 0;
    text-decoration: none;
    text-align: center;
}

header .current {
    text-decoration: underline;
}



/* Main styles */
main {
    display: inline-block;
    margin-top: 30px;
    min-height: calc(100vh - 40px);
}

img.resize {
    width: 600px;
    height: auto;
}

img.hidden {
    display: none;
}

main .mirror {
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}




/* Footer styles */
footer {
    height: 40px;
    background-color: #ffe8b9;
}

footer p {
    margin-right: 25px;
}